@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
h1 {
  font-size: 28px;
}
button:focus{
  outline: 0;
}
button.primary:hover .icon{
  fill: hsl(239, 57%, 85%);
}
button.vote:hover .icon{
  fill: hsl(238, 40%, 52%);
}
button.delete:hover .icon{
  fill: hsl(357, 100%, 86%);
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success{
  background: green;
  color: white;
  padding: .8rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  margin: 1.5rem 0;
}
.error{
  background: hsl(358, 79%, 66%);
  color: white;
  padding: .8rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  margin: 1.5rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(358, 79%, 66%);
}
